[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/intentfulmotion/esp-nimble-cpp
[submodule "components/lis3dh"]
	path = components/lis3dh
	url = https://github.com/intentfulmotion/lis3dh-esp-idf
[submodule ".\\components\\NeoPixelBus-idf"]
	path = .\\components\\NeoPixelBus-idf
	url = https://github.com/intentfulmotion/NeoPixelBus-idf
[submodule "components/NeoPixelBus-idf"]
	path = components/NeoPixelBus-idf
	url = https://github.com/intentfulmotion/NeoPixelBus-idf.git
[submodule "components/esp-arduino-shim"]
	path = components/esp-arduino-shim
	url = https://github.com/intentfulmotion/esp-arduino-shim.git
