[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/intentfulmotion/esp-nimble-cpp
[submodule "components/lis3dh"]
	path = components/lis3dh
	url = https://github.com/intentfulmotion/lis3dh-esp-idf
