{
	"preferences": {
		"turnFlashRate": 200,
		"brakeFlashRate": 100,
		"brakeDuration": 1500,
		"lightMode": 0,
		"renderer": "#008081",
	},
	"motion": {
		"autoOrientation": false,
		"autoMotion": false,
		"autoTurn": false,
		"brakeThreshold": 0.2,
		"turnThreshold": 7.0
	},
	"lights": {
		"channels": [
			{
				"channel": 1,
				"leds": 0,
				"type": 0
			},
			{
				"channel": 2,
				"leds": 20,
				"type": 0
			},
			{
				"channel": 3,
				"leds": 0,
				"type": 0
			},
			{
				"channel": 4,
				"leds": 0,
				"type": 0
			}
		],
		"regions": {
			"headlight": [
				{
					"channel": 2,
					"start": 9,
					"end": 11
				}
			],
			"left": [
				{
					"channel": 2,
					"start": 15,
					"end": 20
				}
			],
			"right": [
				{
					"channel": 2,
					"start": 1,
					"end": 6
				}
			],
			"brake": [
				{
					"channel": 2,
					"start": 1,
					"end": 8
				},
				{
					"channel": 2,
					"start": 12,
					"end": 20
				}
			]
		}
	}
}